 #root {
  margin: 0;
  /* padding: 2rem; */
}
/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.scroll-container {
  overflow-x: auto;
  scroll-behavior: smooth;
}

.scroll-content {
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-align: center;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

